body {
  background: #f0f0f0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  margin-bottom: 100px;
}

#backgroundImage {
  background: url("https://upload.wikimedia.org/wikipedia/commons/0/00/Sunset_Reeds,_North_Shore_Port_Lincoln_-_South_Australia.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

#headings {
  font-family: 'Orbitron', sans-serif;
}
#us {
  margin-bottom: 150px;
}
#forms {
  margin-left: 25px;
}
.largeText {
  font-size: 1.5em;
}
.medText {
  font-size: 1.2em;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.about {
  padding: 100px;
}
.mapThing {
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 100%;
    height: 100%;
}  
#blue{
  background-color: #035563;
}
#blueText {
  color: #035563;
}   
#green{
  background-color: #05A194;
}  
#greenText {
  color: #05A194;
  text-decoration: underline;
}
textarea {
  height: 150px;
  padding: 5px;
  font-size: 1.2em;
}
#list {
  max-height: 800px;
  overflow: auto;
}

#big{
 height: 900px;
}
.logo {
  height: 100px;
  margin-top: 0;
  padding: 0;
  position: relative;
}
#nav {
  height: 100px;
  background-color: #05A194;
  border-radius: 0;
  text-decoration: none;
  margin-bottom: 0;
}
#bluebtn {
  background-color: #035563;
  width: 15em;
}
.slides {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}
.mapsize {
  margin-top: 10px;
}
.nomargin {
  margin-top: 0;
  padding: 0;
}
.navItem {
  font-size: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  position: center;
  padding-top: .6em;
  text-decoration: none;
}
.noborder {
  border: none;
}
#space {
  padding-left: 20px;
  padding-right: 20px;
}
#bigspace {
  padding-left: 75px;
  padding-right: 75px;
}
.help {
  height: auto;
  width: 50%;
}
a:focus {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgba(0,0,0,0.1);
}
#bigspace a:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgba(0,0,0,0);
  pointer-events: none;

}
input[type='text'] {
  font-size: 1.2em;
}
input[type='password'] {
  font-size: 1.2em;
}
#requestTitle{
  text-align: center;
}
.card {
     position: absolute;
     left: 50%;
     right: 50%;
     bottom: 50%;
     top: 50%;
     -moz-transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}
.thisDiv{
    // display: flex-grid;
    align-items: center;
    justify-content: center;
}
.hideDiv {
  background: #f0f0f0;
  padding: 100, 50, 100, 50;
}
.mapboxgl-popup {
    max-width: 200px;
}









