body {
  background: #f0f0f0;
  font-family: sans-serif;
  font-weight: 200;
}

.mapThing {
    position: absolute;
    top: 200;
    bottom: 0;
    width: 50%;
    height: 60%;
}
#geocoder-container {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 10px;
}

#geocoder-container > div {
    min-width:50%;
    margin-left:25%;
}