body {
  background: #f0f0f0;
  font-family: sans-serif;
  font-weight: 200;
}

.mapThing {
    position: absolute;
    top: 50;
    bottom: 0;
    width: 50%;
    height: 90%;
}
#tan{
  background-color: #F5E4D1;
}   
#ltPurple{
  background-color: #CBB7C5;
}   
#violet{
 background-color: #82829D;
}   
#dkBlue{
  background-color: #44758E;
}  
#ltBlue{
  background-color: #7BB4C8;
}   
#green{
  background-color: #C1E7B9;
}  

#big{
 height: 900px;
}

#requestTitle{
  text-align: center;
}
.card {
     position: absolute;
     left: 50%;
     right: 50%;
     bottom: 50%;
     top: 50%;
     -moz-transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}
.thisDiv{
    // display: flex-grid;
    align-items: center;
    justify-content: center;
}